import cn from "classnames";
import { FC } from "react";

import styles from "./{{> ComponentName}}.pcss";

type Props = {
  prop: number;
  onClick?: () => void;
  className: string;
};

export const {{> ComponentName}}: FC<Props> = ({
  prop,
  onClick,
  className,
  children,
}) => {
  return (
    <div
        onClick={onClick}
        className={cn(styles.{{> CssClassName}}, className)}
    >
      {prop}
      {children}
    </div>
  );
};
