import cn from "classnames";
import { FC } from "react";

import styles from "./{{pascalCase name}}.pcss";

type Props = {
  prop: number;
  onClick?: () => void;
  className: string;
};

export const {{pascalCase name}}: FC<Props> = ({
  prop,
  onClick,
  className,
  children,
}) => {
  return (
    <div
        onClick={onClick}
        className={cn(styles.{{camelCase name}}, className)}
    >
      {prop}
      {children}
    </div>
  );
};
