import type { Story } from "@storybook/react";

import { {{> ComponentName}} } from "./{{> ComponentName}}";

export const {{> ComponentName}}Story: Story<{
    prop: number;
    onClick: () => void;
}> = ({
    prop,
    onClick,
}) => {
    return (
        <div
            style=\{{
                resize: "both",
                overflow: "auto",
                height: "300px",
                margin: "40px",
                border: "1px solid red",
            }}
        >
            <{{> ComponentName}}
                prop={prop}
                onClick={onClick}
            >
                <div>child</div>
            </{{> ComponentName}}>
        </div>
    );
};

{{> ComponentName}}Story.args = {
    prop: 100500,
};

{{> ComponentName}}Story.argTypes = {
    onClick: { action: "click" },
};

{{> ComponentName}}Story.storyName = "{{> ComponentName}}";

export default {
    title: "{{> ComponentName}}",
};
